<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to <%= title %>!</h1>

    <h2>Custodio, Archie D.</h2>

<table>
  <tr>
    <th>Personal Profile</th>
    <th>Experience</th>
  </tr>
  <tr>
    <td>Web Developer 2nd year student from Holy Angel University. I can do developing user interfaces, testing, debugging, and communcating with the team. My abilities are not that polished yet but I will do my best to finish the job.</td>
    <td>N/A</td>
  </tr>
  <tr>
    <th><b>Education</b></th>
    <td><b>Information</b></td>
  </tr>
  <tr>
    <td>Elementary - Lakandula Elemetary School, Junior High School - Holy Angel University, Senior Highschool - Holy Angel University, College - Holy Angel University</td>
    <td>Email: archie06custodio@gmail.com Contact: 09354021867</td>
  </tr>
  <tr>
    <td><b>Skills</b></td>
    <td><b>Interest</b></td>
    
  </tr>
  <tr>
    <td>PHP, HTML, CSS, JAVASCRIPT, WORDPRESS, PHOTOSHOP</td>
    <td>Video games, Reading books</td>
    
  </tr>
</table>
</body>
</html>